{% extends "layeout.html.twig" %}
{% block title %}FORMATION-UIPATH{% endblock %}
{% block main %}
<div class="container-fluid" style="height:20px;"></div>
<div >
  
      <img class="d-block w-100" src="{{ asset('img/poleformation.jpg') }}" alt="First slide">
 
</div>
<div class="my-5">
 <a class="navbar-brand"
              href=""><img class="d-block w-100"  src="{{ asset('img/coaching.jpg') }}"  alt="Second slide"></a>
</div>
<p class="text-center fs-1 font-weight-bold" style="color:darkblue;">Le COACHING ?</p>
<section>

    <div class="container text-justify fs-5">

        <p>  Le coaching DIGITATA-IT est un accompagnement personnalisé des salariés et des demandeurs 
        d’emploi désirant se perfectionner ou se reconvertir dans le domaine de l’automatisation (RPA et VBA).
         Ce coaching a pour objet d‘améliorer les compétences et la performance d'un individu ou groupe d’individus 
         en leur permettant d’acquérir des connaissances dans le domaine 
        de l’automatisation des processus métiers, des méthodes d'organisation et de contrôle d’activité.</p>  

        <p class="text-center fs-1 font-weight-bold" style="color:darkblue;">La pandémie ?</p>
        <p> La période actuelle nous pousse à repenser notre manière de travailler. La covid-19 a provoqué des
         changements importants du point de vue de l’organisation du travail d’une grande partie des entreprises,
          contrainte d’adopter des modalités de travail à distance. Elle a engendré un déploiement plus important 
          du télétravail avec un besoin croissant d’infrastructure de réseaux et d’informatiques.
           Toutefois, ce télétravail ne peut pas s’accomplir pleinement sans disposer de supports
         informatiques capables d’apporter un véritable apport aux collaborateurs et à l’entreprise.</p>  
         <p>C’est ce que vise la RPA. Cette dernière est l’une des meilleures solutions pour continuer nos activités professionnelles dans n’importe quelle situation.</p>     
           <p class="text-center fs-1 font-weight-bold" style="color:darkblue;">La préparation de la quatrième révolution industrielle ?</p>
        <p>Avec l’avènement de nouveaux outils informatiques, les entreprises ont l’occasion d’engager une véritable transformation numérique leur permettant de rester compétitives, de diminuer la charge de travail de leurs collaborateurs.</p>
        <p>De ce fait, DIGITATA-IT s’engage pour un monde moderne et digitalisé pour les entreprises. Nous avons l’occasion d’inspirer les collaborateurs à faire ce qui les passionne et à s’épanouir au travail.</p>
        <p>Nous sommes tous entourés dans notre environnement de travail par des outils informatiques. Ces numériques, pour la plupart du temps, favorisent, allègent ou accélèrent notre travail au quotidien. Malheureusement, dans certains cas, elles créent des tâches redondantes.
         C’est là que la RPA prend certaines mesures. Elle s’inscrit dans une continuité d’évolution technologique.</p>
         <p>L’objectif majeur de la RPA est l’automatisation des processus métiers. C’est le fait de confier à une solution logicielle, un assistant digital des tâches répétitives effectuées par un collaborateur.</p>
         <p>Avec la RPA, il est donc question d’assistants virtuels : « La RPA, un automate qui va cliquer à votre place ! ».</p>
    </div>


</section>
<div class="px-4 pt-5 my-2 text-center border-bottom">

    <div class="container px-5">
   <p class="text-center fs-1 font-weight-bold" style="color:darkblue;">Objectifs de DIGITATA-IT ?</p>
  </div>
</div>

<section>

    <div class="container text-justify fs-5">

       <i class="fab fa-squarespace mx-4 text-primary"> </i>se réorienter dans une carrière numérique,<br>
        <i class="fab fa-squarespace mx-4 text-primary"> </i>se former dans des métiers de l’Automation des processus métiers (RPA ou VBA).<br>
   
    </div>
  <div class="container text-justify fs-5">
          <p>Notre objectif n’est pas seulement de les accompagner mais aussi de pouvoir leur proposer un emploi. 
          A l’issue de son accompagnement avec la certification de niveau 3 obtenue et selon la demande de nos clients,
           nous pourrons éventuellement lui proposer un CDD, ou un CDI afin qu’il puisse acquérir de l’expérience
           dans ce domaine dans notre de centre de service d’automatisation ou en régie chez un de nos clients.</p>
            <p>Parmi les métiers d’accompagnement de DIGITATA-IT, nous pouvons citer :</p>
        <i class="fab fa-squarespace mx-4 px-4 text-primary"> Architecte de solution</i><br>
        <p>Il a la charge de définir l'architecture de la solution RPA. L'architecte de solution traduit les exigences capturées par les analystes fonctionnels, créant l'architecture et les artefacts de conception.
         Ils dirigent, conseillent et sont responsables de la livraison de l'équipe des développeurs.</p>
              <i class="fab fa-squarespace mx-4 px-4 text-primary">Business Analyste</i><br>
              <p>Il est responsable de la cartographie des processus TELS QUELS et proposés POUR ÊTRE. 
              Les business analystes connaissent le processus métier qui est automatisé, la théorie générale des
               processus métier et les capacités RPA. Ils sont chargés de répertorier les exigences du processus
                d'automatisation, de clarifier les entrées et les sorties attendues, 
              de créer la documentation RPA (Documents de conception de processus, Cartes de processus).</p>
        <i class="fab fa-squarespace mx-4 px-4 text-primary"> Responsable de l'implémentation / Project Manager</i><br>
        <p>Il forme et gère l'équipe RPA, fait la planification des ressources et la disponibilité des équipes, afin d'atteindre les objectifs d'automatisation.
        La plupart du temps, le PM est le point de contact unique pour les questions, les initiatives RPA ou les projets de produits RPA parallèles.</p>
        <i class="fab fa-squarespace mx-4 px-4 text-primary"> Développeurs RPA ou VBA</i><br>
        <p>Sur des projets complexes, plusieurs développeurs collaboreront pour automatiser tous les processus.</p>
        <i class="fab fa-squarespace mx-4 px-4 text-primary">Administrateur d'infrastructure et de sécurité informatique </i> <br>
        <p>Avec de bonnes compétences techniques et de sécurité, ils sont responsables de la configuration et de la maintenance des ressources matérielles et logicielles pour les installations de produits UiPath. 
        Ils ont créé des comptes pour tous les développeurs, utilisateurs finaux et robots.</p>
        <br>

                      
                        
    </div>


    <br />
<div class="container text-justify fs-5">
<h4 class="fw-bold mb-0 fs-3 mx-4 px-4" style="color:darkblue;"style="color:darkblue;"> I-<u> PRÉREQUIS ET ACTION PRÉALABLE</u> </h4><br/>
        <h6 class="fw-bold mb-0 fs-6 mx-4 px-4">I-1<u> PRÉREQUIS ET ACTION PRÉALABLE</u> </h6>
        <p> Vous êtes:</p>
        <i class="fas fa-check-circle mx-4 text-primary"> </i>jeune (diplômé(e) ou sans) et à la recherche d’un emploi ou 
        salarié désirant se reconvertir dans le domaine du numérique,<br>
        <i class="fas fa-check-circle mx-4 text-primary"> </i> avoir participé́ à des projets informatiques ou disposer de connaissances de ces principes ,<br>
        <i class="fas fa-check-circle mx-4 text-primary"> </i>avoir des connaissances en programmation et/ou en automatisation est un plus,<br>
       <i class="fas fa-check-circle mx-4 text-primary"></i> disposer de connaissances sur les principes de conduite de projets informatiques.<br><br>
      <h6 class="fw-bold mb-0 fs-6 mx-4 px-4">I-2<u> ACTION PRÉALABLE AVANT L’ACCOMPAGNEMENT – 2 heures de préparation :</u> </h6> <br>
      <p>Créer un compte à l’UIPath Academy (https://academy.uipath.com/) : ce compte gratuit sera utilisé ́ pendant l’accompagnement.
Dans le référentiel « Courses », suivre la 1ère leçon « RPA Awareness » du cours « RPA Starter » (30mn).</p> 

<h4 class="fw-bold mb-0 fs-3 mx-4 px-4" style="color:darkblue;"style="color:darkblue;"> II-<u> OBJECTIFS PÉDAGOGIQUES</u> </h4><br/>

 <p> Vous serez amenés :</p>
        <i class="fas fa-check-circle mx-4 text-primary"> </i>appréhender la logique de spécification d’un logigramme,<br>
        <i class="fas fa-check-circle mx-4 text-primary"> </i> modéliser des processus (le "maquettage"),<br>
        <i class="fas fa-check-circle mx-4 text-primary"> </i>pouvoir spécifier, concevoir, réaliser et maintenir des processus automatisés,<br>
       <i class="fas fa-check-circle mx-4 text-primary"></i> détecter, qualifier des besoins et spécifier la modélisation avec les utilisateurs,<br>
        <i class="fas fa-check-circle mx-4 text-primary"></i> réaliser un projet RPA de la conception au déploiement des bots et sur l’ensemble des phases du projet.<br><br>
<h4 class="fw-bold mb-0 fs-3 mx-4 px-4" style="color:darkblue;"> III-<u> DURÉE</u> </h4><br/>
<p>153 heures (1 mois) : Pour la formation d’un développeur UIPath.</p><br>
<p>Certification de niveau 1:</p>
  <i class="fab fa-squarespace mx-4 px-4 text-primary"> Architecte de solution</i>: 39 H de formation<br><br>
<p>Certification de niveau 2 :</p>
  <i class="fab fa-squarespace mx-4 px-4 text-primary"> Orchestrator for Developers</i>: 4 H de formation<br><br>
<p>Certification de niveau 3 :</p>
  <i class="fab fa-squarespace mx-4 px-4 text-primary"> RPA Developer Advanced </i>: 43 H de formation<br><br>
<p>Certification de niveau 4 :</p>
  <i class="fab fa-squarespace mx-4 px-4 text-primary"> Certification UIPath Developer</i>: 2H d’examen obligatoire<br><br/>
<h4 class="fw-bold mb-0 fs-3 mx-4 px-4" style="color:darkblue;"> IV-<u> RÉPARTITION</u> </h4><br/>
    <i class="fas fa-check-circle mx-4 text-primary"> </i> Théorique : 30 %<br>
    <i class="fas fa-check-circle mx-4 text-primary"> </i>Travaux pratiques : 70 %<br/>  
<br/>
<h4 class="fw-bold mb-0 fs-3 mx-4 px-4" style="color:darkblue;"> V-<u>   DÉROULEMENT PÉDAGOGIQUE : PARTIE THÉORIQUE</u> </h4><br/>
    <i class="fas fa-check-circle mx-4 text-primary"> </i> D’abord, la formation se déroule à travers la prise en main et la maîtrise des concepts des outils UIPath (UIStudio, UIRobot et Orchestrator).<br>
    <i class="fas fa-check-circle mx-4 text-primary"> </i>Ensuite, elle se concentre sur les bases de l’informatique et comment les utiliser dans ce domaine.<br> 
      <i class="fas fa-check-circle mx-4 text-primary"> </i>Enfin, elle se focalise sur les activités et techniques spécifiques à UIPath (UIStudio, UIRobot et Orchestrator) sans oublier la gestion de configuration, 
      le déploiement, les tests, la maintenabilité et la qualité des assistants virtuels.<br>   
<u class="text-primary">Remarque: </u>  <strong>Un QCM est proposé pour clôturer chaque session (partie théorique).</strong>
</div>

    

</section>
<br />
<div class="text-center g-5 py-3 fs-5">
    <p><u>Adresse</u> : <i class="text-primary">Cergy - Pontoise 95 000</i></p>

    <p><u>Téléphone</u> :  <i class="text-primary">+33 (0) 6 64 24 02 51</i></p>

    <p><u>Site internet DIGITATA-IT</u>  :  <i class="text-primary">www.digitata-it.fr</i></p>

    <p><u>Site internet Pôle Automation</u> : <i class="text-primary">automatisation.digitata-it-business.fr</i></p>
</div>

{% endblock %}