{% extends 'layeout.html.twig' %}
{% block title %}UIPATH{% endblock %}
{% block main %}
<div class="container-fluid" style="height:20px;"></div>
<div >
  
      <img class="d-block w-100" src="{{ asset('img/bnrpa.jpg') }}" alt="First slide">
 
</div>
<div class="my-5">
 <a class="navbar-brand"
              href="#projects"><img class="d-block w-100"  src="{{ asset('img/f-min.jpg') }}"  alt="Second slide"></a>
</div>
<p class="text-center fs-1 font-weight-bold" style="color:darkblue;">“RPA : Robotic Process Automation”</p>
<section>

    <div class="container text-justify fs-5">

        <p>  Robotic Process Automation est une technologie permettant aux logiciels informatiques d’imiter 
        (ou de simuler) et d’intégrer des actions généralement effectuées par des humains avec des systèmes numériques. Les robots RPA utilisent l'interface utilisateur pour:</p>
        <i class="fab fa-squarespace mx-4 text-primary"> </i>Capturer des données,<br>
           <i class="fab fa-squarespace mx-4 text-primary"> </i>Exécutez des applications,<br>
              <i class="fab fa-squarespace mx-4 text-primary"> </i>Déclencher des réponses<br>
                 <i class="fab fa-squarespace mx-4 text-primary"></i> Prendre des décisions basées sur des règles prédéfinies,<br>
                    <i class="fab fa-squarespace mx-4 text-primary"></i> Communiquer avec d'autres systèmes,<br>
                       <i class="fab fa-squarespace mx-4 text-primary"></i> Manipuler des applications comme le font les humains.<br>
                        
    </div>

</section>
<div class="px-4 pt-5 my-2 text-center border-bottom">

    <div class="container px-5">
      <img src="{{ asset('img/d-min.jpg') }}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
   
  </div>
</div>

<section>

    <div class="container text-justify fs-5">

        <p> Ils interprètent, déclenchent des réponses et communiquent avec d'autres systèmes afin d'effectuer une grande variété de tâches répétitives.

Parmi les avantages de la RPA, on peut citer l’accélération du ROI (Retour sur Investissement ou Return on Investment), la réduction du nombre d’erreurs humaines 
et une augmentation de la productivité. Cette technologie comprend un ensemble d’outils tels que Blue Prism, Pega, UIPath, IBM RPA etc. Quelques cas concrets d’utilisation::</p>
        <i class="fab fa-squarespace mx-4 text-primary"> </i>Facilitation de la mise à jour et la gestion des CMR,<br>
           <i class="fab fa-squarespace mx-4 text-primary"> </i>Gestion plus facile des ressources humaines,<br>
              <i class="fab fa-squarespace mx-4 text-primary"> </i>Traitement de commandes en ligne,<br>
                 <i class="fab fa-squarespace mx-4 text-primary"></i> Prendre des décisions basées sur des règles prédéfinies,<br>
                    <i class="fab fa-squarespace mx-4 text-primary"></i> Accélération du traitement des demandes clients.<br>
                      
                        
    </div>
    <br />
     <div class="container text-justify fs-5">

        <p> Quelques spécificités de la technologie RPA:</p>
        <i class="fab fa-squarespace mx-4 text-primary"> </i>Non-intrusive à risque faible,<br>
           <i class="fab fa-squarespace mx-4 text-primary"> </i>Installation par-dessus des systèmes existants,<br>
              <i class="fab fa-squarespace mx-4 text-primary"> </i>Création d’une plateforme compatible avec les développements à venir,<br>
                    <i class="fab fa-squarespace mx-4 text-primary"></i> Intégration des algorithmes sophistiqués et de l’auto-apprentissage.<br>
                      
                        
    </div>

</section>
<br />
<div class="text-center g-5 py-3 fs-5">
    <p><u>Adresse</u> : <i class="text-primary">Cergy - Pontoise 95 000</i></p>

    <p><u>Téléphone</u> :  <i class="text-primary">+33 (0) 6 64 24 02 51</i></p>

    <p><u>Site internet DIGITATA-IT</u>  :  <i class="text-primary">www.digitata-it.fr</i></p>

    <p><u>Site internet Pôle Automation</u> : <i class="text-primary">automatisation.digitata-it-business.fr</i></p>
</div>

{% endblock %}