{% extends "layeout.html.twig" %}
{% block title %} Automatisation{% endblock %}

{% block main %}
    <div class="container-fluid" style="height:20px;"></div>
    <!--debut-->




    <div class="container py-5 text-justify" id="featured-3">
        <p class="text-center fs-3 font-weight-bold" style="color:darkblue;">“Mentions légales DIGITATA-IT”</p>
        <div class="row g-1 py-4 fs-5 text-center ">
            <p >Dénomination ou raison sociale : <b>DIGITATA-IT</b></p>
            <p >Siège social : <b>134 Boulevard de l’Oise 95490 Vauréal</b></p>
            <p >Numéro de téléphone : <b>06.64.24.02.51</b></p>
            <p >Numéro d’inscription au registre du commerce et des sociétés(RCS) : <b>893 591 933 R.C.S Pontoise</b></p>
            <p >Capital social   : <b>12.000 €</b></p>
            <p >Nom du directeur et du codirecteur de la publication : <b>Thierno NDAO – Demba Sarr DIOP</b></p>
            <p >Nom du responsable de la rédaction :  <b>Thierno NDAO </b></p>
            <p >Ce site est hébergé par :  <b>O2Switch </b></p>
            <p >Nom :  <b>O2Switch </b></p>
            <p >Dénomination ou raison sociale : <b>O2Switch </b></p>
            <p > <b>SIREN: 510 909 807 </b></p>
            <p > <b>SIRET: 510 909 807 00024</b></p>
            <p > Adresse :Hébergement O2SWITCH 222 Boulevard Gustave Flaubert 63000 Clermont-Ferrand</p>
            <p > Numéro de téléphone :  Courriel : support@o2switch.fr - Téléphone : +33 4 44 44 60 40   </p>

            <p class="text-center fs-3 " style="color:darkblue;">Pour plus d'informations, nous vous invitons à télécharger nos plaquettes d'entreprise !</p>
            <p class="text-center fs-3 " style="color:darkblue;"><a href="https://www.plaquettes.digitata-it-business.fr/">En cliquant ICI</a></p>
        </div>
    </div>
    <!--fin-->




    <!--troisieme section-->

    <!---->
    <div class="text-center g-5 py-3 fs-5">
        <p><u>Adresse</u> : <i class="text-primary">Cergy - Pontoise 95 000</i></p>

        <p><u>Téléphone</u> :  <i class="text-primary">+33 (0) 6 64 24 02 51</i></p>

        <p><u>Site internet DIGITATA-IT</u>  :  <i class="text-primary">www.digitata-it.fr</i></p>

        <p><u>Site internet Pôle Automation</u> : <i class="text-primary">automatisation.digitata-it-business.fr</i></p>
    </div>


{% endblock %}