{% extends "layeout.html.twig" %}
{% block title %} Automatisation{% endblock %}

{% block main %}
<div class="container-fluid" style="height:20px;"></div>
<!--debut-->




<div class="container py-5 text-justify" id="featured-3">
  <p class="text-center fs-3 font-weight-bold" style="color:darkblue;">“Protections de confidentialité des données.”</p>
  <div class="row g-1 py-4 fs-5 font-weight-bold">
    <p >
        Conformément à la nouvelle réglementation européenne sur les données personnelles (RGPD), la protection de vos données personnelles est une préoccupation majeure et une priorité pour DIGITATA-IT.</p>

 <p> Dans l’objectif d’établir une relation de confiance durable avec nos différents interlocuteurs, 
 nous formalisons, dans la Politique de confidentialité des données DIGITATA-IT, la gestion et le traitement des données personnelles que nous récoltons.</p>

        <p class="text-center fs-3 " style="color:darkblue;">Établissement de liens hypertextes vers le site de DIGITATA-IT et syndication de contenu</p>

<p> <b> Tous les liens vers le site de DIGITATA-IT peuvent être librement établis dès lors qu’ils ne sont pas utilisés à des fins commerciales ou publicitaires, sous réserve que la mention « sur le site de DIGITATA-IT » ou toute mention équivalente soit
 indiquée clairement sur le lien ou à proximité de celui-ci, et que le webmestre de DIGITATA-IT ait été préalablement informé par les auteurs du lien : (contact@digitata-it.com).</p>

<p> Sont naturellement exclus de cette autorisation les sites diffusant des informations à caractère illicite, violent, polémique, pornographique, xénophobe ou pouvant porter atteinte à la sensibilité du plus grand nombre.</p>

<p> La syndication du contenu des flux RSS du site de DIGITATA-IT sur un autre site ou blog est soumise aux mêmes conditions.</p>
      <p class="text-center fs-3 " style="color:darkblue;">Données collectées</p>
      <p> DIGITATA-IT ne traite vos données personnelles qu’à des fins déterminées, explicites et légitimes.</p>
      <p> L’ensemble des informations que vous nous communiquez sur le site (par exemple, votre nom, votre numéro de téléphone, votre adresse mail)
          sont nécessaires et nous permettent de traiter et d’exécuter vos demandes.</p>
      <p> Les informations indispensables à DIGITATA-IT, pour traiter et exécuter vos demandes, sont signalées par un astérisque dans les pages du site.
          Si vous choisissez de ne pas nous communiquer ces informations nécessaires, nous ne pourrons pas traiter votre demande.</p>
      <p> En aucun cas, les données recueillies par DIGITATA-IT ne seront cédées ou vendues à des tiers.
          Aucune adresse mail ne sera transmise à des tiers y compris à nos partenaires sauf avec l’accord express des intéressés.</p>
      <p> Tous nos salariés sont soumis à des clauses de confidentialité énoncées expressément dans leur contrat de travail.</p>
      <p> Conformément au règlement en vigueur, les données recueillies peuvent faire l’objet de traitements :</p>
      <p> Modification</p>
      <p> Suppression (droit à l’oubli)</p>
      <p> Portabilité

      </p>
      <p> En application des dispositions de la loi Informatique et Libertés du 6 janvier 1978, et du règlement sur la protection de données (RGPD), vous disposez d’un droit d’accès, d’opposition,
          de rectification et de suppression des données nominatives vous concernant auprès de DIGITATA-IT, en envoyant à l’adresse email suivante : contact@digitata-it.com</p>
      <p> Veuillez pour toute demande, nous indiquer vos noms, prénom(s), email, ainsi que la modification attendue. Conformément au règlement, nous nous engageons à traiter votre demande dans un délai de 1 mois.</p>
      <p> Nous conservons vos données personnelles pendant une durée conforme aux législations en vigueurs ou proportionnellement aux finalités pour lesquelles elles ont été collectées.</p>
      <p> En conformité avec le RGPD, nous conservons vos données entre 4 semaines et 24 mois.</p>
      <p> Si vous nous adressez un message, nous le conserverons durant 4 semaines, soit 1 mois.</p>
      <p> Quant à vos données personnelles, elles seront conservées dans notre base de données pour une durée de 24 mois.</p>
      <p class="text-center fs-3 " style="color:darkblue;">Pour plus d'informations, nous vous invitons à télécharger nos plaquettes d'entreprise !</p>
      <p class="text-center fs-3 " style="color:darkblue;"><a href="https://www.plaquettes.digitata-it-business.fr/">En cliquant ICI</a></p>
  </div>
</div>
<!--fin-->

 


<!--troisieme section-->

<!---->
<div class="text-center g-5 py-3 fs-5">
    <p><u>Adresse</u> : <i class="text-primary">Cergy - Pontoise 95 000</i></p>

    <p><u>Téléphone</u> :  <i class="text-primary">+33 (0) 6 64 24 02 51</i></p>

    <p><u>Site internet DIGITATA-IT</u>  :  <i class="text-primary">www.digitata-it.fr</i></p>

    <p><u>Site internet Pôle Automation</u> : <i class="text-primary">automatisation.digitata-it-business.fr</i></p>
</div>


{% endblock %}